html {
  scroll-snap-type: y mandatory;
}

.app {
  background-color: black;
  color: white;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.app__video {
  position: relative;
  height: 740px;
  width: 80%;
  scroll-snap-type: y mandatory;
  max-width: 500px;
  overflow: scroll;
  border-radius: 20px;
}

@media (max-width: 374px) {
  .app__video {
    position: relative;
    height: 570px;
    /* height: 740px; */
    width: 100%;
    scroll-snap-type: y mandatory;
    max-width: 500px;
    overflow: scroll;
    border-radius: 0px;
  }
}

@media (min-width: 375px) and (max-height: 667px) {
  .app__video {
    position: relative;
    height: 740px;
    width: 100%;
    scroll-snap-type: y mandatory;
    max-width: 500px;
    overflow: scroll;
    border-radius: 0px;
  }
}

@media (min-width: 375px) and (max-width: 576px) {
  .app__video {
    position: relative;
    height: 740px;
    width: 100%;
    scroll-snap-type: y mandatory;
    max-width: 500px;
    overflow: scroll;
    border-radius: 0px;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.app__video::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.app__video {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
